<%= form_with(model: [:manager, @maintenance], local: true) do |form| %>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, start_year: Date.today.year - 10, order: [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= form.label :preventive_maintenance %>
    <%= form.text_field :preventive_maintenance %>
  </div>
  <div class="field">
    <%= form.label :equipment_hygiene %>
    <%= form.text_field :equipment_hygiene %>
  </div>
  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>
  <div class="field">
    <%= form.label :next_maintence %>
    <%= form.text_field :next_maintence %>
  </div>
  <div class="field">
    <%= form.label :irregularity_maintenance %>
    <%= form.text_field :irregularity_maintenance %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>