<div class="flex flex-col p-5 mt-6 sm:px-14 sm:items-center lg:flex-1 lg:py-12">
  <h1 class="font-bold text-3xl">Cadastre-se!</h1>
  <div class="flex gap-1">
    <span class="font-thin">Já possui uma conta?</span>
    <%= link_to "Entrar", new_session_path(resource_name), class: '' %>
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mt- flex flex-col' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <div>
    <%= f.fields_for :company, resource.build_company do |company_form| %>
      <%= company_form.label :cnpj %><br/>
      <%= company_form.text_field :cnpj %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'rounded border-gray-300 w-full', placeholder: 'Ex.: Juliana' %>
  </div>

  <div class="mb-3">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, class: 'w-full text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400' %>
  </div>

  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'rounded border-gray-300 w-full' %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'rounded border-gray-300 w-full' %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'rounded border-gray-300 w-full' %>
  </div>

  <%= link_to 'Esqueceu a senha?', new_user_password_path, class: 'self-end font-thin' %>

  <div class="actions h-16 w-full bg-coolify-2 shrink-0 mt-2 rounded-md drop-shadow-lg flex justify-center items-center">
    <%= f.submit "Cadastrar", class: 'text-white text-xl font-bold leading-8' %>
  </div>
<% end %>
</div>