<%= simple_form_for @equipment, url: equipments_path,
                    html: { class: 'relative',
                            data: {
                              controller: 'nested-form',
                              nested_form_wrapper_selector_value: '.nested-form-wrapper'
                            } } do |form| %>
  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl"><%= 'Criar equipamento' %></h1>
    <div>
      <%= form.button :submit, 'Salvar', class: 'cursor-pointer' %>
      <%= link_to "Voltar", equipments_path, method: :get, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
  </div>
  <%= render "form", equipment: @equipment, form: form %>
<% end %>