<div class="flex flex-col">
  <div class="flex">
    <%= form.input :name, placeholder: '' %>
  </div>
  
  <div class="flex">
    <%=form.input :endereco, placeholder: ''%>
  </div>

  <div class="flex">
    <%=form.input :telefone, placeholder: ''%>
  </div>

  <div class="flex">
    <%=form.input :cep, placeholder: ''%>
  </div>

  <div class="flex">
    <%=form.input :email, placeholder: ''%>
  </div>

  <div class="flex">
    <%= form.input :cnpj, placeholder: '' %>
  </div>

  <div class="flex">
    <%= form.input :razao_social, placeholder: ''%>
  </div>

</div>