<%= simple_form_for([:manager, @client], url: manager_client_path,
                    html: { class: 'relative' }) do |form| %>
  <%= form.error_notification %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl"><%= t '.title' %></h1>
    <div>
      <%= form.submit class: 'cursor-pointer mr-2 items-center justify-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800' %>
      <%= link_to t('.show'), manager_client_path(@client), class: "mr-2 items-center justify-center text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %>
      <%= link_to t('.go_back'), manager_clients_path, class: "mr-2 items-center justify-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
    </div>
  </div>

  <%= render "form", form: form %>
<% end %>