<!DOCTYPE html>
<html>
<head>
  <title>StartupMissionBaseRails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.turbo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</head>

<body>

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <%= render 'layouts/menu_current_user' %>
</nav>

<aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <%= link_to manager_home_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
          <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap"><%= t('.dashboard') %></span>
          <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300"><%= t '.new' %></span>
        <% end %>
      </li>
      <% if policy(User).index? %>
        <%= render 'layouts/menu_manager' %>
      <% end %>
      <%= render 'layouts/menu_generate_report' %>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <% if notice.present? %>
    <div id="sticky-banner" tabindex="-1" class="flex justify-between w-full p-4 border-b mb-4
        <%= 'bg-blue-50 text-blue-600 border-blue-200' %>
        <%= 'bg-green-50 text-green-600 border-green-200' if notice.include?('cadastrad') %>
        <%= 'bg-yellow-50 text-yellow-600 border-yellow-200' if notice.include?('atualizad') %>
        <%= 'bg-red-50 text-red-600 border-red-200' if notice.include?('apagad') %>
        dark:border-gray-600">
      <div class="flex items-center mx-auto">
        <!-- Ãcone baseado no tipo de mensagem -->
        <% if notice.include?('cadastrad') %>
          <i class="fa fa-circle-plus"></i>
        <% elsif notice.include?('atualizad') %>
          <i class="fa fa-square-pen"></i>
        <% elsif notice.include?('apagad') %>
          <i class="fa fa-trash-can"></i>
        <% else %>
          <i class="fa fa-check-circle"></i>
        <% end %>
        <p class="flex items-center text-sm font-normal ml-2">
          <%= notice %>
        </p>
      </div>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
